$color-grey-1 : #FAFAFA !default;
$color-grey-2 : #EAEAEA !default;
$color-grey-3 : #AAAAAA !default;
$color-grey-4 : #383838 !default;
$color-grey-5 : #111111 !default;

$color-palette-1 : #CFF09E !default;
$color-palette-2 : #A8DBA8 !default;
$color-palette-3 : #79BD9A !default;
$color-palette-4 : #3B8686 !default;
$color-palette-5 : #0B486B !default;


// Definitions //
/*
primary     : text
secondary   : backdrop
tertiary    : emphasis
bg-primary  : prominent background
bg-secondary: tier 2 background
bg-tertiary : tier 3 background

primary and secondary complement
*/


// Light Theme //
$color-primary     : $color-grey-5 !default;
$color-secondary   : $color-grey-1 !default;
$color-tertiary    : $color-palette-4 !default;
$color-bg-primary  : $color-palette-5 !default;
$color-bg-secondary: $color-palette-3 !default;
$color-bg-tertiary : $color-palette-2 !default;
