// Text opacity dark:
// primary 87%
// secondary 54%
// hint 38%
// dividers 12%
//
// Text opacity light:
// primary 100%
// secondary 70%
// disabled 50%
// dividers 12%
//
// Background colors:
// 1: status bar
// 2: header bar
// 3: background
// 4: foreground


////////////////
// color base //
////////////////

$color-light-1: #E0E0E0 !default;
$color-light-2: #F5F5F5 !default;
$color-light-3: #FAFAFA !default;
$color-light-4: #FEFEFE !default;


$color-light-text-1: rgba($color-light-4, 1) !default;
$color-light-text-2: rgba($color-light-4, 0.7) !default;
$color-light-text-3: rgba($color-light-4, 0.5) !default;
$color-light-text-4: rgba($color-light-4, 0.12) !default;

$color-dark-1: #000000 !default;
$color-dark-2: #212121 !default;
$color-dark-3: #303030 !default;
$color-dark-4: #424242 !default;

$color-dark-text-1: rgba($color-dark-1, 0.87) !default;
$color-dark-text-2: rgba($color-dark-1, 0.66) !default;
$color-dark-text-3: rgba($color-dark-1, 0.38) !default;
$color-dark-text-4: rgba($color-dark-1, 0.12) !default;

////////////////////
// color emphasis //
////////////////////

$color-palette-1: #006064 !default;
$color-palette-2: #0097A7 !default;
$color-palette-3: #00BCD4 !default;
$color-palette-4: #FFD54F !default;


/////////////////////
// define palettes //
/////////////////////

// light theme
$color-bg-1     : $color-light-1 !default;
$color-bg-2     : $color-light-2 !default;
$color-bg-3     : $color-light-3 !default;
$color-bg-4     : $color-light-4 !default;
$color-primary  : $color-palette-2 !default;
$color-secondary: $color-palette-1 !default;
$color-accent   : $color-palette-3 !default;
$color-text-1   : $color-dark-text-1 !default;
$color-text-2   : $color-dark-text-2 !default;
$color-text-3   : $color-dark-text-3 !default;
$color-text-4   : $color-dark-text-4 !default;

// // dark theme
// $color-bg-1     : $color-dark-1 !default;
// $color-bg-2     : $color-dark-2 !default;
// $color-bg-3     : $color-dark-3 !default;
// $color-bg-4     : $color-dark-4 !default;
// $color-primary  : $color-palette-2 !default;
// $color-secondary: $color-palette-1 !default;
// $color-accent   : $color-palette-3 !default;
// $color-text-1   : $color-light-text-1 !default;
// $color-text-2   : $color-light-text-2 !default;
// $color-text-3   : $color-light-text-3 !default;
// $color-text-4   : $color-light-text-4 !default;


$color-valid  : #66BB6A !default;
$color-invalid: #d50000 !default;
