.comment {
  padding: 8px;
  font-size: 0.92rem;

  .comment-info {
    .username {
      color: $color-bg-primary;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .score, .date {
      font-size: 0.8em;
      font-family: monospace;
    }
  }

  .comment-options {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;

    li {
      display: inline-block;
      padding: 4px;

      a {
        color: $color-grey-4;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.comment .comment {
  margin: 0 0 0 6px;
  border-left: 1px solid $color-bg-primary;
}
