@import 'util';

.grid-strict {
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.grid {
  @extend .grid-strict;
  .col {
    padding: $grid-vertical-padding $grid-gutter-padding;
  }
}

.col {
  float: left;
  @include border-box();
}

@mixin col-list($columns) {
  @for $i from 1 through $columns {
    .col#{$columns}-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}

@include col-list(12);
@include col-list(16);
