nav, .nav {
  .nav-spacer {
    display: none;
    height: $navbar-height;
  }

  .nav-container {
    z-index: 64;
    position: static;
    width: 100%;
    background-color: $color-bg-2;
    color: $color-text-2;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);

    .container {
      // height: $navbar-height;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    // Brand //
    .brand {
      display: inline-block;
      height: $navbar-height;
      float: left;

      img {
        height: 100%;
        width: auto;
      }
    }

    .brand-padded {
      padding: 4px;
    }

    // List //
    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      height: 100%;
      float: left;

      li {
        float: left;
        display: inline-block;
        padding: 0 16px;
        height: $navbar-height;
        line-height: $navbar-height;
        &:hover {
          background-color: $color-bg-1;
          color: $color-text-1;
        }
      }

      li + li {
        margin: 0 0 0 8px;
      }
    }

    .nav-list.right {
      float: right;
    }
  }

  a {
    @extend a.no-style;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

nav.docked, .nav.docked {
  .nav-spacer {
    display: block;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
  }
}
