nav, .nav {
  .nav-spacer {
    display: none;
    height: $navbar-height;
  }

  .nav-container {
    z-index: 64;
    position: static;
    width: 100%;
    background-color: $color-tertiary;
    color: $color-secondary;

    .container {
      // height: $navbar-height;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    // Brand //
    .brand {
      display: inline-block;
      height: $navbar-height;
      float: left;

      img {
        height: 100%;
        width: auto;
      }
    }

    .brand-padded {
      padding: 4px;
    }

    // List //
    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      height: 100%;
      float: left;

      li {
        float: left;
        display: inline-block;
        padding: 4px;
        height: $navbar-height;
        line-height: $navbar-height;
      }

      li + li {
        margin: 0 0 0 24px;
      }
    }

    .nav-list.right {
      float: right;
    }
  }

  a {
    @extend a.no-style;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
