aside, .aside, .sidebar {
  background-color: $color-bg-4;
  color: $color-text-2;
  box-shadow: 4px 1px 6px 1px rgba(0, 0, 0, 0.2);
  float: left;
  width: 100%;
  max-width: 100%;

  a {
    @extend a.no-style;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .title {
    background-color: $color-bg-2;
    color: $color-text-1;
    padding: 16px;
  }

  .list .list-item:hover {
    background-color: $color-bg-1;
    color: $color-text-1;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  .list-item {
    width: 100%;
    padding: 16px;
  }
}

.counter-aside {
  float: left;
  width: 100%;
  max-width: 100%;
}

@media (min-width: $grid-sm-breakpoint) and (max-width: $grid-md-breakpoint - 1px){
  aside, .aside, .sidebar {
    max-width: ($grid-sm-breakpoint + $grid-md-breakpoint) * 3 / 32;
  }
  .counter-aside {
    max-width: calc(100% - #{($grid-sm-breakpoint + $grid-md-breakpoint) * 3 / 32});
  }
}

@media (min-width: $grid-md-breakpoint) and (max-width: $grid-lg-breakpoint - 1px){
  aside, .aside, .sidebar {
    max-width: $grid-md-breakpoint * 3 / 16;
  }
  .counter-aside {
    max-width: calc(100% - #{$grid-md-breakpoint * 3 / 16});
  }
}

@media (min-width: $grid-lg-breakpoint){
  aside, .aside, .sidebar {
    max-width: $grid-md-breakpoint * 3 / 16;
  }
  .counter-aside {
    max-width: calc(100% - #{$grid-md-breakpoint * 3 / 16});
  }
}
