@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);

body {
  font-family     : 'Open Sans', sans-serif;
  color           : $color-primary;
  background-color: $color-secondary;
  font-size       : $typography-base-size;
  line-height     : $typography-base-line-height;
  letter-spacing  : normal;

  @media (min-width: $grid-sm-breakpoint) and (max-width: $grid-md-breakpoint - 1px){
    font-size  : $typography-base-size * 6 / 5;
    line-height: $typography-base-line-height * 6 / 5;
  }

  @media (min-width: $grid-md-breakpoint) and (max-width: $grid-lg-breakpoint - 1px){
    font-size  : $typography-base-size * 4 / 3;
    line-height: $typography-base-line-height * 6 / 5;
  }

  @media (min-width: $grid-lg-breakpoint){
    font-size  : $typography-base-size * 4 / 3;
    line-height: $typography-base-line-height * 6 / 5;
  }
}

// Headers //
h1 {
  font-size  : 2.5em;
  font-weight: 300;
}

h2 {
  font-size  : 1.75em;
  font-weight: 700;
}

h3 {
  font-size  : 1.25em;
  font-weight: 700;
}

h4 {
  font-size  : 1.125em;
  font-weight: 700;
}

h5 {
  font-size  : 1em;
  font-weight: 700;
}

h6 {
  font-size  : 0.8em;
  font-weight: 700;
}

small {
  font-size: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.25em;

  small {
    color    : $color-tertiary;
    font-size: (1em / 3);
  }
}

.page-header {
  border-bottom: 2px solid $color-bg-primary;
  margin: 4rem 0 2rem;
}

// Long Form //
.article {
  margin   : auto;
  max-width: 36em;
}

section, .section {
  padding: 8px 16px;
}

.section-primary {
  background-color: $color-bg-primary;
  color: $color-secondary;
}

.section-secondary {
  background-color: $color-bg-secondary;
}

.section-tertiary {
  background-color: $color-bg-tertiary;
}

// Header //
header, .hero {
  font-size       : 2em;
  line-height     : 1.125;
  background-color: $color-bg-primary;
  padding         : 16px;

  h1, h2, h3, h4, h5, h6 {
    color: $color-secondary;

    small {
      color      : $color-bg-tertiary;
      font-size  : (1em / 3);
      font-weight: 400;
    }
  }
}

// Code //
pre {
  font-size       : 0.75em;
  line-height     : 1.25;
  padding         : 8px;
  border          : 1px solid $color-bg-secondary;
  border-radius   : 4px;
  background-color: $color-grey-2;
}
